@use "sass:color";
@import 'definitions.scss';

@media (prefers-color-scheme: dark) {
    :root {
        filter: invert(100%);
        background: white;
    }
}

.legend {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem;
    border-bottom: 1px solid $halfGray;
    margin-bottom: .5rem;
}

label.info {
    &::before {
        content: '|';
        color: rgba(128, 128, 128, 0.451);
        margin-right: .5rem;
    }
}

.text-error {
    color: red
}

.user {
    background: $halfGray;
    border-radius: 4px;
    padding: .5rem;
    margin-left: auto;
    border: 0;
    cursor: pointer;

    &:hover {
        background: darken($halfGray, 20%);
    }
}

.appVersion {
    font-size: .8rem;
    color: $halfGray;
    position: absolute;
    top: 0;
    right: 0;
}