@import 'definitions.scss';

table {
    border-collapse: collapse;

    td {
        border: 1px solid $halfGray;
    }

    tr:nth-child(even) {
        background: $quarterGray;
    }

    th {
        &:not(:last-child) {
            border-right: 1px solid $halfGray;
        }

        position: sticky;
        top:0;
        background: rgb(192, 192, 192);
    }
}