@import 'definitions.scss';

table {
    border-collapse: collapse;

    .filterBtn {
        visibility: hidden;
        position: absolute;
        right: 0;
        height: 30px;
        width: 30px;
        background: $eightGray;
        border: 0;
        border-radius: 4px;

        &:hover,
        &:focus {
            background: $quarterGray;
        }
    }

    td {
        border: 1px solid $halfGray;
        text-overflow: ellipsis;
    }

    tr:nth-child(even) {
        background: $quarterGray;
    }

    th {
        &:not(:last-child) {
            border-right: 1px solid $halfGray;
        }

        position: sticky;
        top:0;
        background: rgb(192, 192, 192);

        &:hover,
        &:focus-within {
            .filterBtn {
                visibility: visible;
            }
        }
    }

    &.truncate {
        $openCell: 50vh;
        $closedCell: 10vh;

        td {
            overflow: hidden;

            &>div {
                overflow: hidden;
                max-height: $closedCell;
            }

            &:focus {
                $shadow: 0px 0px 4px 0px #e7a61a;
                box-shadow: $shadow, $shadow inset;

                &>div {
                    max-height: $openCell;
                    overflow: auto;
                }
            }
        }

        tr:focus-within {
            &>td>div {
                overflow: visible;
            }
        }
    }
}

.filters {
    height: 1.5rem;
    .icon {
        display: inline-block;
        width: 30px;
        height: 7px;
    }

    .filter {
        border-radius: 5px;
        padding: .15rem;
        font-size: .9rem;

        input {
            background: 0;
            border: 0;
        }

        .close {
            background: 0;
            border: 0;
            border-radius: 3px;

            &:hover,
            &:focus {
                background: $halfGray;
            }
        }
    }

    &:focus-within {
        position: sticky;
        top: 0;
        background: white;
        &+table th {
            top: 1.5rem;
        }
    }
}