//mixin for input without border
@mixin input-no-border {
    border: none;
    background: transparent;
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    display: inline;
    outline: none;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    &>div.team {
        border: 2px dashed darkblue;
        background: repeating-linear-gradient(45deg,
                #00008b30,
                #00008b30 3px,
                #00008b25 3px,
                #00008b25 6px);
        border-radius: 7px;
        padding: 0 .5em .5em .5em;

        &.isOver {
            background: repeating-linear-gradient(45deg,
                    #ff8c0030,
                    #ff8c0030 3px,
                    #ff8c0025 3px,
                    #ff8c0025 6px);
        }

        &.isNew {
            opacity: .5;
        }

        .addNew {
            display: none;
        }

        &:hover, &:focus-within, &:focus {
            .addNew {
                display: inline-block;
            }
        }
    }

    .person {
        user-select: none;

        img {
            margin-right: 5px;
        }

        * {
            vertical-align: middle;
        }

        padding: 3px;
        border-radius: 5px;

        &:hover {
            opacity: .9;
            border: 1.5px solid #ffffff66;
            margin: -0.75px;
            background: #ffffff44;
        }
    }

    div>h3,
    .person {
        button {
            visibility: hidden;
        }

        &:hover,
        &:focus,
        &:focus-within {
            button {
                visibility: visible;
            }
        }

        &>input {
            @include input-no-border;
        }
    }

    h3>input {
        @include input-no-border;
    }
}

.friends {
    background: repeating-linear-gradient(45deg,
            #2e8a0030,
            #2e8a0030 3px,
            #2e8a0025 3px,
            #2e8a0025 6px);
}

@media print {

    .no-print,
    .no-print * {
        display: none !important;
    }
}